<div style="text-align:center; margin: 45px 0;">
  <img [src]="logo">
  <br>
  Gallery and Media Manager, Attachment uploader for Angular 2, Angular 4 and Angular 5.

  <br><br>
<h3>Manage your media on a separate page, or route, for example gallery.</h3>
</div>



<div style='margin: auto 30px ; border: 2px dotted silver; background-color: rgba(243,243,243,1)'>
  <app-ng-media></app-ng-media>
</div>


<div style="text-align:center; margin: 45px 0;">
  <h4>Now, you can open the gallery and let user select a file:</h4>
  <button (click)="openDialog();">Open dialog for single select</button>
</div>