<div class="ngm-media-toolbar">
  <div class="view-switch ngm-inline-block">
    <div class="ngm-inline-block">
      <span class="icon dashicons-list-view"></span>
    </div>
    <div class="ngm-inline-block">
      <span class="icon dashicons-grid-view"></span>
    </div>
  </div>

  <select id="media-attachment-filters" class="ngm-input">
    <option value="all">All media items</option>
    <option value="image">Images</option>
    <option value="audio">Audio</option>
    <option value="video">Video</option>
    <option value="others">Other types</option>
  </select>

  <select id="media-attachment-date-filters" class="ngm-input">
    <option value="all">All dates</option>
    <option value="0">February 2018</option>
  </select>

  <button class="ngm-btn ngm-btn-md">Bulk Select</button>

  <input type="text" class="ngm-input ngm-pull-right ngm-media-search" placeholder="Search media items...">
</div>