.ngm-media-toolbar {
    background: #fff;
    padding: 10px 5px;
    border-radius: 3px;
    border:1px solid #ddd;
    margin-bottom: 10px;
    .view-switch {
        margin: 0 5px;
        >div:first-child {
            margin-right:5px;
        }
    }

    .ngm-media-search {
        width: 280px;
    }
}